/* ============================
    Global Imports
============================ */
/* ============================
    Base Imports
============================ */
/* ============================
    Base Element Styles
============================ */
* {
  box-sizing: border-box;
  /* border box forces the padding and borders into the width and height of the elements instead of expanding them. That way, it will take up exactly 70% of the viewport width */ }

h1, h4 {
  font: 400 80px/1.2 "Nixie One", Georgia, serif; }

p {
  font: 400 15px/1.6 "Ledger", Garamond, Georgia, serif; }

html {
  background-color: lightgray; }

body {
  line-height: 1.6; }

.container {
  padding: 0 1em; }
  @media (min-width: 769px) {
    .container {
      width: 70%;
      /* Prevents the elements from stretching too wide */
      max-width: 1000px;
      /* Prevents the layout container from getting any wider than 1000 pixels */
      margin: 0 auto;
      /* Centers all elements in the page */ } }

h3 {
  text-transform: uppercase; }

img {
  max-width: 100%;
  max-height: 100%; }

.flex-container {
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: space-between; }

a {
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* active link - a link the moment it is clicked */ }
  a:link {
    color: #000;
    text-decoration: none;
    list-style: none; }
  a:visited {
    color: #000;
    text-decoration: none;
    list-style: none; }
  a:hover {
    color: #000;
    text-decoration: none;
    list-style: none; }
  a:active {
    color: #000;
    text-decoration: none;
    list-style: none; }

.main-header, .main-about, .main-contact, .main-portfolio {
  text-align: center; }

ul li, .main-nav a:link, .main-nav a:visited, .main-nav a:hover {
  list-style: none;
  text-decoration: none; }

.main-header, .main-about, .main-portfolio, .portfolio-name {
  padding: 1em 0; }

/* ============================
    Wrap and Boxes
============================ */
@media (min-width: 769px) {
  .wrap {
    min-height: calc(100vh - 57.7188px);
    /* calc will subtract 89 pixels from 100vh */ } }

@media (min-width: 769px) {
  .box {
    flex: 1 40%;
    margin-right: 10px; } }
@media (min-width: 1200px) {
  .box {
    flex: 1 1 30%; } }

@media (min-width: 769px) {
  .box-skill {
    margin-right: 20px; } }

/* ============================
    Header
============================ */
@media (min-width: 769px) {
  .flex-container-nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; } }

.header-bg {
  background: url("../Images/bg.jpg") no-repeat center center; }

.main-header h1 {
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3); }

@media (min-width: 1200px) {
  .main-header .container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center; } }

/* ============================
    Navigation
============================ */
.main-nav li {
  background: #fff; }
  @media (min-width: 769px) {
    .main-nav li {
      text-decoration: none;
      list-style: none;
      margin: 5px 0;
      margin-right: 20px;
      background: none; } }

ul {
  list-style: none;
  padding: 0;
  margin: 0; }

ul li {
  margin: 5px 0;
  background-color: #fff; }
  @media (min-width: 769px) {
    ul li {
      border-bottom: 1px solid gray; } }

.name a,
.main-nav a {
  padding: 10px 10px;
  display: block; }

.main-nav {
  /* unvisited link */
  /* visited link */
  /* mouse over link */
  /* active link - a link the moment it is clicked */ }
  .main-nav a:link {
    color: #000; }
    @media (min-width: 769px) {
      .main-nav a:link {
        color: #000;
        text-decoration: none;
        list-style: none; } }
  .main-nav a:visited {
    color: #000; }
    @media (min-width: 769px) {
      .main-nav a:visited {
        color: #000;
        text-decoration: none;
        list-style: none; } }
  .main-nav a:hover {
    color: #000;
    background-color: skyblue; }
    @media (min-width: 769px) {
      .main-nav a:hover {
        color: lightgreen;
        text-decoration: none;
        list-style: none; } }
  .main-nav a:active {
    background: #fff; }

/* current link */
.active {
  background-color: lightblue;
  color: #fff; }

/* ============================
    About
============================ */
@media (min-width: 1200px) {
  .flex-container-about {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: flex-end; } }

.main-about {
  margin: 1em 0; }
  @media (min-width: 769px) {
    .main-about {
      overflow: hidden; } }

@media (min-width: 769px) {
  .main-about p {
    text-align: left; } }

.profile-pic {
  width: 100%;
  border: 2px solid #fff;
  box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.5); }
  @media (min-width: 769px) {
    .profile-pic {
      width: 50%;
      float: right;
      margin-left: 10px; } }

@media (min-width: 1200px) {
  .about-box {
    flex: 1 1 50%;
    text-align: justify;
    margin-right: 20px; } }

.about-box p {
  color: #fff;
  text-shadow: 2px 4px 3px rgba(0, 0, 0, 0.3);
  font-size: 1.25em; }

/* ============================
    Contact
============================ */
.main-contact {
  padding: 1em 0; }

span {
  font-weight: bold; }

/* ============================
    Footer
============================ */
footer .container {
  border-top: 1px dotted grey; }

.bottom-nav {
  display: none; }
  @media (min-width: 769px) {
    .bottom-nav {
      display: inline-block; } }

.flex-container-footer {
  display: flex;
  justify-content: space-between; }
  @media (min-width: 769px) {
    .flex-container-footer {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      align-items: center; } }

@media (min-width: 769px) {
  .footer-backtotop {
    display: none; } }

/* ============================
    Portfolio
============================ */
.main-portfolio {
  background: #fff; }

.box {
  padding: .5em 0; }

/*# sourceMappingURL=application.css.map */
