/* ============================
    Base Element Styles
============================ */

* {
    box-sizing: border-box; /* border box forces the padding and borders into the width and height of the elements instead of expanding them. That way, it will take up exactly 70% of the viewport width */
}

html { 
    background: #f9f9f9;
}

body {
/*    line-height: 1.6;*/

}

.container {
    padding: 0 1em;
}

h3 {
    text-transform: uppercase;
}

img {
    width: 100px;
    height: 70px;
}


/* ============================
    Header & Navigation
============================ */
.name, .main-nav li {
    background: grey;
}

.main-header, .main-portfolio, .main-contact {
    text-align: center;
}

h1 {
/*    margin-top: 0;*/ /* Set this to remove the gap between the top and the header */
}

.main-header {
    padding: 1em 0;
}

.main-portfolio {
    background: white;
    padding-top: 30px;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    text-decoration: none;
    list-style: none;
/*
    padding: 10px 0; */
    margin: 5px 0;
    background-color: white;
}

.main-nav a:hover {
    color: white;
    text-decoration: none;
    list-style: none;
}

.name a,
.main-nav a {
    padding: 10px 10px;
    display: block;
}

/* ============================
    Media Queries
============================ */

@media (min-width: 769px) { /* Treehouse suggests 769px instead of 600px */
    
    .wrap {
        min-height: calc(100vh - 57.7188px); /* calc will subtract 89 pixels from 100vh */
        
    }
    
    html {
        background-color: green;
    }
    
    .container {
        width: 70%; /* Prevents the elements from stretching too wide */
        max-width: 1000px; /* Prevents the layout container from getting any wider than 1000 pixels */
        margin: 0 auto; /* Centers all elements in the page */
    }
    
    .profile-pic {
        float: right;
    }
    
    .flex-container {
        display: flex;
        flex-wrap: wrap;
        
    }
    
    .box {
        flex: 1 40%;
    }
}