/* ============================
    Base Element Styles
============================ */

* {
    box-sizing: border-box; /* border box forces the padding and borders into the width and height of the elements instead of expanding them. That way, it will take up exactly 70% of the viewport width */
}

h1, h4 {
  font: 400 80px/1.2 'Nixie One', Georgia, serif;
}

p {
  font: 400 15px/1.6 'Ledger', Garamond, Georgia, serif;
}

html { 
    background-color: lightgrey;
}

body {
    line-height: 1.6;

}

.container {
    padding: 0 1em;
}

h3 {
    text-transform: uppercase;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

/* ============================
    Header & Navigation
============================ */

.main-header, .main-portfolio, .main-contact {
    text-align: center;
}

.main-header {
    padding: 1em 0;
}

.main-about {
    padding: 1em 0;
    margin: 1em 0;
}

.main-nav li {
    background: white;
}

ul {
    padding: 0;
    margin: 0;
}

ul li {
    text-decoration: none;
    list-style: none;
    margin: 5px 0;
    background-color: white;
}

.main-nav a:link {
    color: black;
    text-decoration: none;
    list-style: none;
}

.main-nav a:hover {
    color: lightblue;
    text-decoration: none;
    list-style: none;
}

.name a,
.main-nav a {
    padding: 10px 10px;
    display: block;
}


/* ============================
    About
============================ */

.main-about {
    text-align: center;
}


/* ============================
    Portfolio
============================ */

.main-portfolio {
    background: white;
    padding: 1em 0;
}

.portfolio-name {
    padding: 1em 0;
}

.box {
    padding: .5em 0;
}


/* ============================
    Contact
============================ */

.main-contact {
    padding: 1em 0;
}

span {
    font-weight: bold;
}

/* ============================
    Footer
============================ */

footer .container {
    border-top: 1px dotted grey;
}

.bottom-nav {
    display: none;
}

.flex-container-footer {
    display: flex;
    justify-content: space-between;
}


/* ============================
    Media Queries
============================ */

@media (min-width: 769px) { /* Treehouse suggests 769px instead of 600px */
    
    .wrap {
        min-height: calc(100vh - 57.7188px); /* calc will subtract 89 pixels from 100vh */
        
    }
    
    html {
        background-color: lightgrey;
    }
    
    .container {
        width: 70%; /* Prevents the elements from stretching too wide */
        max-width: 1000px; /* Prevents the layout container from getting any wider than 1000 pixels */
        margin: 0 auto; /* Centers all elements in the page */
    }
    
    .box {
        flex: 1 40%;
        margin-right: 10px;
    }
    
    /* ============================
        Header & Navigation
    ============================ */
    
    .flex-container-nav {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }
    
    ul li {
        border-bottom: 1px solid grey;      
    }
    
    .main-nav li {
        text-decoration: none;
        list-style: none;
        margin: 5px 0;
        margin-right: 20px;
        background: none;
    }

    .main-nav a:link {
        color: black;
        text-decoration: none;
        list-style: none;
    }

    .main-nav a:hover {
        color: lightgreen;
        text-decoration: none;
        list-style: none;
    }
    
    .main-nav a:visited {
        color: black;
        text-decoration: none;
        list-style: none;
    }
    
    /* ============================
        About
    ============================ */

    .flex-container-about {
        display: flex;
        flex-wrap: wrap;
        flex-direction: row-reverse;
        align-items: flex-start;
        justify-content: flex-start;
    }

    .about-box {
        flex: 1 1 45%;
        text-align: justify;
        margin-right: 10px;
    }
    
    .about-text {
        font-size: 1em;
    }
    
    
    /* ============================
        Footer
    ============================ */
    
    
    .flex-container-footer {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    .footer-backtotop {
        display: none;
    }
    
    .bottom-nav {
        display: inline-block;
    }   
    
}


@media (min-width: 1200px) {
    
    .box {
        flex: 1 1 30%;
    }
    
    html {
        background-color: lightgray;
    }
    
    .main-header .container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
    }
    
    /* ============================
        About
    ============================ */

    .flex-container-about {
        display: flex;
        flex-wrap: nowrap;
        flex-direction: row-reverse;
        align-items: stretch;
        justify-content: flex-end;
    }

    .about-box {
        flex: 1 1 50%;
        text-align: justify;
        margin-right: 20px;
    }
    
    .profile-pic {
        width: 100%;
    }
    
}