/* ============================
    About
============================ */

.main-about {
    @extend %centered;
    @extend %normal-padding;
    margin: 1em 0;
}

.profile-pic {
    width: 100%;
    border: 2px solid white;
    box-shadow: 0px 0px 10px 1px rgba(119, 119, 119, 0.5);
}

.about-box p {
    color: white;
    text-shadow: 2px 4px 3px rgba(0,0,0,0.3);
    font-size: 1.25em;
}