/* ============================
    Footer
============================ */

footer .container {
    border-top: 1px dotted grey;
}

.bottom-nav {
    display: none;
}

.flex-container-footer {
    display: flex;
    justify-content: space-between;
}

