/* ============================
    Wrap and Boxes
============================ */

.wrap {
  @media #{$brk-tablet} {
    min-height: calc(100vh - 57.7188px); /* calc will subtract 89 pixels from 100vh */
  }
}

.box {
  @media #{$brk-tablet} {
    flex: 1 40%;
    margin-right: 10px;
  }
  @media #{$brk-desktop} {
    flex: 1 1 30%;
  }
}

.box-skill {
  @media #{$brk-tablet} {
    margin-right: 20px;
  }
}

/* ============================
    Header
============================ */

.flex-container-nav {
  @media #{$brk-tablet} {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.main-header {
    @extend %centered;
    @extend %normal-padding;
}

.header-bg {
  background: url("#{$path-img}/bg.jpg") no-repeat center center;
}

.main-header h1 {
    text-shadow: 2px 4px 3px $drop-shadow;
}

.main-header .container {
  @media #{$brk-desktop} {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
}