/* ============================
    Navigation
============================ */

.main-nav li {
    background: white;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    @extend %none-lstd;
    margin: 5px 0;
    background-color: white;
}

.name a,
.main-nav a {
    padding: 10px 10px;
    display: block;
}

.main-nav {
  /* unvisited link */
  & a:link {
      color: $color-black;
      @extend %none-lstd;
  }

  /* visited link */
  & a:visited {
      color: $color-black;
      @extend %none-lstd;
  }

  /* mouse over link */
  & a:hover {
      color: $color-black;
      @extend %none-lstd;
      background-color: skyblue;
  }

  /* active link - a link the moment it is clicked */
  & a:active {
      background: $color-white;
  }
}

/* current link */
.active {
    background-color: lightblue;
    color: $color-white;
}