/* ============================
    Navigation
============================ */

.main-nav li {
    background: $white;
  
  @media #{$brk-tablet} {
    text-decoration: none;
    list-style: none;
    margin: 5px 0;
    margin-right: 20px;
    background: none;  
  }
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

ul li {
    @extend %none-lstd;
    margin: 5px 0;
    background-color: $white;
  
    @media #{$brk-tablet} {
        border-bottom: 1px solid $gray;
  }
}

.name a,
.main-nav a {
    padding: 10px 10px;
    display: block;
}

.main-nav {
  /* unvisited link */
  & a:link {
      color: $color-black;
      @extend %none-lstd;
    
      @media #{$brk-tablet} {
        color: $black;
        text-decoration: none;
        list-style: none;
      }
  }

  /* visited link */
  & a:visited {
      color: $color-black;
      @extend %none-lstd;
    
      @media #{$brk-tablet} {
        color: $black;
        text-decoration: none;
        list-style: none;
      }
  }

  /* mouse over link */
  & a:hover {
      color: $color-black;
      @extend %none-lstd;
      background-color: $skyblue;
    
      @media #{$brk-tablet} {
        color: $color-lightgreen;
        text-decoration: none;
        list-style: none;
      }
  }

  /* active link - a link the moment it is clicked */
  & a:active {
      background: $color-white;
  }
}

/* current link */
.active {
    background-color: $l-blue;
    color: $color-white;
}