/* ============================
    About
============================ */

.flex-container-about {
  @include desktop {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row-reverse;
    align-items: stretch;
    justify-content: flex-end;
  }
}

.main-about {
    @extend %centered;
    @extend %normal-padding;
    margin: 1em 0;
  
    @include tablet {
      overflow: hidden;
    }
}

.main-about p {
  @include tablet {
    text-align: left;
  }
}

.profile-pic {
    width: 100%;
    border: 2px solid $white;
    box-shadow: 0px 0px 10px 1px $profilepic-boxshadow;
  
    @include tablet {
        width: 50%;
        float: right;
        margin-left: 10px;
    }
}

.about-box {
  @include desktop {
    flex: 1 1 50%;
    text-align: justify;
    margin-right: 20px;
  }
}

.about-box p {
    color: $color-white;
    text-shadow: 2px 4px 3px $drop-shadow;
    font-size: $about-textsize;
}

