/* ============================
    Base Element Styles
============================ */

* {
    box-sizing: border-box; /* border box forces the padding and borders into the width and height of the elements instead of expanding them. That way, it will take up exactly 70% of the viewport width */
}

h1, h4 {
  font: 400 80px/1.2 $nixie-font;
}

p {
  font: 400 15px/1.6 $ledger-font;
}

html {
    background-color: lightgrey;
}

body {
    line-height: 1.6;
}

.container {
    padding: 0 1em;
}

h3 {
    text-transform: uppercase;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
    align-items: stretch;
    justify-content: space-between;
}

a {
  /* unvisited link */
  &:link {
    @include text-link($color-black, none, none);
  }

  /* visited link */
  &:visited {
    @include text-link($color-black, none, none);
  }

  /* mouse over link */
  &:hover {
    @include text-link($color-black, none, none);
  }
  
  /* active link - a link the moment it is clicked */
  &:active {
    @include text-link($color-black, none, none);
  }
}