// Web fonts

@mixin font-face($family, $file) {
  @font-face {
    font-family: $family;
    src: url('#{$file}');
    src: url('#{$file}');
  }
}

// then on the partial...
// @include font-face('Abolition Regular', abolition-regular);

@mixin text-link($color, $txt-decor, $l-style) {
  color: $color;
  text-decoration: $txt-decor;
  list-style: $l-style;
}

@mixin heading-fontsize($font-type) {
  font: 400 80px/1.2 $font-type;
  
}

@mixin p-fontsize($font-type) {
  font: 400 15px/1.6 $font-type;
}